*{
    margin: 0;
    padding: 0;
    /* background: #2C2E43; */
    
}

html{
    font-size: 16px;
}

body{
    background-color: #2C2E43;
    color: #FFD523;
    font-family: 'Roboto', sans-serif;
}

.flex-container{
    display: flex;
}

.header{
    justify-content: space-between;
    /* border: 1px solid red; */
}

.header-img{
    margin: 1rem;
}

.header-img img{
    width: 80%;
}

.source-link{
    margin: auto 1rem;

}

.btn{
    padding: 1rem;
    margin: 1rem;
}

.main-content{
    margin: 3rem 10rem 5rem 10rem;
    text-align: center;
    background: #FFD523;
    color: #2C2E43;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;
}

.player-card{
    margin: 3rem;
    padding: 1rem;
}

.current-score-card{
    background: #2c2e43;
    color: white;
    margin: 0 auto 3rem auto;
    width: 25%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 2px 0px, rgba(0, 0, 0, 0.7) 0px 1px 3px 1px;
    padding: 1rem;
}

.player--1{
    width: 50%;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    /* z-index: 1; */

}

.player--2{
    width: 50%;
    /* background: linear-gradient(rgba(255, 255, 255, 0.4),rgba(255,255,255,0.4)); */
    /* d9af00 */
}

.player-banner{
    font-size: 3rem;
    padding: 2rem;
}

.player-score{
    font-size: 3rem;
    font-weight: 700;
}

.current-score-text{
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 300;
}

.current-score{
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 700;
}

.btn{
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem 1.2rem;
}

.btn-roll-dice,.btn-new-game,.btn-hold-score{
    position:absolute;
    left: 49%;
    transform: translateX(-50%);
    top: 11rem;
    z-index: 5;
}

.btn-new-game{
    top: 27rem;
}

.btn-hold-score{
    top: 31rem;
}

/* .span-dice-number{
    
    color: #2C2E43;
} */

.img-dice{
    visibility:hidden;
    position: absolute;
    left: 49%;
    transform: translateX(-35%);
    top: 18.5rem;
    width: 6rem;
    z-index: 3;
}
.img-popper-p1{
    content: url(/img/tenor.gif);
    /* src: url(/img/tenor.gif); */
    position: absolute;
    left: 48.5%;
    transform: translateX(-35%);
    top: 14.5rem;
    z-index: 3;
    width: 12rem;
}

/* .img-popper-p2{
    content: url(/img/tenor.gif);
    position: absolute;
    left: 48.5%;
    transform: translateX(-35%);
    top: 14.5rem;
    z-index: 3;
    width: 12rem;
} */

